<div class="project-list row">
  {% for project in site.projects %}
  {% capture project_id %}project-title-{{forloop.index}}{% endcapture %}
  <div class="col-lg-4 col-sm-6 col-md-6">
    <div class="card clickable" onclick="window.location.href = '{{project.url}}'">
      <!-- <a href="{{project.url}}"> -->
      {% if project.thumbnail %}
      <img aria-labelledby="{{project_id}}" class="card-img-top" src="{{project.thumbnail}}">
      {% else %}
      <img class="card-img-top" alt="" src="https://via.placeholder.com/250">
      {% endif %}

      <div class="card-body">
        <a href="{{project.url}}">
          <h2 id="{{project_id}}">{{ project.title }}</h2>
        </a>

        <p>{{ project.dates }}</p>
        <p class="lead">{{project.status}}</p>
      </div>
      {% if project.tags %}

      <div class="card-footer">
        {% for tag in project.tags %}
        {{tag}}{% if forloop.last != true %},
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <!-- </a> -->
    </div>
  </div>

  {% endfor %}
</div>