<div class="project-list row">
  {% for project in site.projects %}
  {% capture project_id %}project-title-{{forloop.index}}{% endcapture %}
  <div class="col-lg-4 col-sm-6 col-md-6">
    <div class="card">
      <a href="{{project.url}}">
        {% if project.thumbnail %}
        <img aria-labelledby="{{project_id}}" class="card-img-top" src="{{project.thumbnail}}">
        {% else %}
        <img class="card-img-top" aria-labelledby="{{project_id}}" src="https://via.placeholder.com/250">
        {% endif %}

        <div class="card-body">
          <h2 id="{{project_id}}">{{ project.title }}
          </h2>

          <p>{{ project.dates }}</p>
          <p class="lead">Status</p>
          <p class="card-text">Front end, back end, framework</p>
        </div>
      </a>
    </div>
  </div>

  {% endfor %}
</div>