<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  wfaeweafwaeafa
  <div class="container">
    {%- include header.html -%}
    <header class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>{{ site.title }}</h1>
              <span class="subheading"><a
                  href="https://www.linkedin.com/in/william-reuschel/">{{ site.description }}</a></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ content }}
        </div>
      </div>
      </main>

      {%- include footer.html -%}
    </div>
</body>

</html>