---
layout: wide
---
<article class="post">
    WORK IN PROGRESS
    <header class="post-header">
        <a href="/">back</a>
    </header>

    <div class="row">
        <div class="col-md-6">

            <h1 class="display-4">{{ page.title | escape }}</h1>
            {% if page.project_url %}
                <a href={{page.project_url}} title="demo">{{page.project_url}}</a>
            {% endif %}
            <p>{{page.dates}}</p>
            <p>status: {{page.status}}</p>
        </div>
        <div class="col-md-6">
            <img width="100%" src="{{page.screenshot}}">
        </div>
    </div>
    <div class="body">

        {{ content }}
    </div>

</article>