---
layout: wide
---
<article class="post">
    WORK IN PROGRESS
    <header class="post-header">
        <a href="/">back</a>
    </header>


    <h1 class="display-4">{{ page.title | escape }}</h1>
    {% if page.screenshot %}
    <a href="{{page.screenshot}}"><img class="project-screenshot" src="{{page.screenshot}}"></a>
    {% endif %}

    {% if page.project_url %}
    <p>
        Project URL: <a href={{page.project_url}} title="demo">{{page.project_url}}</a>
    </p>
    {% endif %}
    <p>{{page.dates}}</p>
    <p>Status: {{page.status}}</p>
    <p>Tools: {% for tag in page.tags %}
        {{tag}}{% if forloop.last != true %},
        {% endif %}
        {% endfor %}</p>
    <div class="body">
        <h2>Details</h2>
        {{ content }}      

</article>